/**
*	CryptPast
*	A secure and open-source crypted pasting service.
*	Made by ThanosS.
*
*	CryptPast is under MIT license
**/

.header {
	margin-top: 15px;
}

#error, #success, #warn {
	display: none;
}

.text-muted {
	margin: 7px 0 15px 0;
}

input[name=decrypt] {
	display: none;
}

.container {
	max-width: 950px;
}

.jumbotron {
	padding: 10px 0;
}

.jumbotron h3 {
	text-align: center;
}

.copyleft {
	display: inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}
.view { display: none; }